@import url("https://fonts.googleapis.com/css?family=Molle:400i|Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
html,
body {
  height: 100%;
}

/* custom colors */
.tigerlily {
  background-color: #e15d44;
}

/* custom fonts */

/* Main content */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/*Nav menu styles*/
#navMenuStyle{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #e15d44;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  color: white;
}

.navMenuHide{
  transform: translate3d(-100vw, 0, 0);
}

.navMenuShow{
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}


#closeButton:hover {
  color: black;
}

#reactLink:hover{
  color: black;
}
