@import url("https://fonts.googleapis.com/css?family=Molle:400i|Source+Serif+Pro&display=swap");
html, body{
  height: 100%;
}

/* custom colors */
.tigerlily {
  background-color: #e15d44;
}

/* custom fonts */


/* Main content */
#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}
