@import url("https://fonts.googleapis.com/css?family=Molle:400i|Source+Serif+Pro&display=swap");

/* custom colors */
.tigerlily {
  background-color: #e15d44;
}

/* custom fonts */

/*Jumbotron*/
.jumbotron-bg-image {
  background-image: url("./assets/img/jumbotron.jpg");
  color: white;
}
